@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.hambergur {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

#sidebarCollapse{
    position: absolute;
    cursor: pointer;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    background-color: #fff;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.bg-light-header{
    background: lightgray !important;
}

.spacer{
    margin-bottom: 10px;
}
.navbar{
    border-radius: 0 !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    width: 100px;
    background: #301865;
    color: #fff;
    transition: all 0.3s;
    margin-top: 80px;
    display: none;
}

nav.navbar {
    margin-left: -100px;
    background: white !important;
    min-height: 70px;
    color: black;
}
#sidebar a{
    color: white;
}
#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    background: #00b6ff;

}

#sidebar ul.components {
    padding: 0;

}
#sidebar ul.components li{
    text-align: center;
}
#sidebar ul.components li .tab-name{
    font-size: 10px;
}


#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: lightgray;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: rgb(0 0 0);
    background: rgb(255 255 255);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #676767;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

a:hover{
    text-decoration: none !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


/*--------------------login-----------------------------*/

#applicationName{
    position: relative;
    margin-left: 20px;
}
/*.application-logo{
    position: absolute;
    margin-left: 0px;
}*/
.card-container.card {
    max-width: 350px;
    padding: 35px;
}
.welcomeText{
    max-width: 350px;
    margin: 50px auto 20px;
}
.welcomeText span:first-child{
    font-size: 22px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
/*.profile-img-container{
    position: absolute;
    right: 38px;
    top: 15px;
}*/
#profile-img-header{
    width: 40px;
    height: 40px;
}

/*
 * Card component
 */
.card {
    /* background-color: lightgray; */
    /* color: white; */
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#errorText{
    position: absolute;
    bottom: 15px;
    color: red;
    display: none;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color:#428bca;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: white;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.textClass{
    color:white;
}

#remember{
    padding-left: 0;
}
/*-------------------Search Page-------------------*/

#imaginary_container{
    margin-top:15%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/*-------------------Modal ---------------------------*/

.modal-dialog{
    left: auto !important;
}
.modal-body span{
    font-size: 35px;
}

/*-------------------Table --------------------------*/

.table-striped{
    border: 1px solid lightgray;
}
thead{
    background: #A5A5A5;
    color: white;
}
#tableID{
    margin-top: 10%;
    max-width: 850px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    margin-left: 16px;
    margin-right: 16px;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*   New */

.mrgn-btm{
    margin-bottom: 0 !important;
}
.mrgn-rt{
    margin-right: 15px;
}
.form-control{
    min-height: 30px !important;
    font-size: 14px!important;
}

.padding-rt{
    padding-right: 0 !important;
}
.padding-lt{
    padding-left: 0 !important;
}
.marT30{
    margin-top: 30px;
}
.marT5{
    margin-top: 5px;
}
/*--Input data---*/
#input-Data{
    /* display: none; */
}
#input-Data .next-button{
    padding-left: 0;
}

#input-Data .cus_input{
    height: 25px;
}
#input-Data .user_info h2{
    display: block;
}
/*--dashBoard--*/
#dashBoard{
    display: none;
}
#dashBoard .user_info h2{
    display: block;
    border-bottom: 1px solid;
    padding-left: 36%;
}
#dashBoard .dashboard-col{
    margin-left: 25%;
    border: 1px solid;
}
.membership_detail{
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}
.membership_detail span{
    font-weight: normal;
    padding-left: 15px;
}

#dashBoard .dash_cus .container{
    border: none;
}
/*--First Page--*/
#client-challenge{
    /* display: none; */
    position: relative;
}

#client-challenge .dropdown-menu{
    display: block;
}
#client-challenge .cus_input{
    width: 100%;
    height: 25px;
}

/*--Second Page--*/
#client-innovation{
    /* display: none; */
    position: relative;
}

#client-innovation .dropdown-menu{
    display: block;
}
#client-innovation .cus_input{
    width: 100%;
    height: 25px;
}

/*--Third Page--*/
#innovation-capabilities{
    /* display: none; */
    position: relative;
}
#innovation-capabilities .dropdown-menu{
    display: block;
}
#innovation-capabilities .cus_input{
    width: 100%;
    height: 25px;
}

/*--Fourth Page--*/
#degree-innovation{
    /* display: none; */
    position: relative;
}
#degree-innovation .dropdown-menu{
    display: block;
}
#degree-innovation .cus_input{
    width: 100%;
    height: 25px;
}

/*--Fifth Page--*/
#client-value{
    /* display: none; */
    position: relative;
}
#client-value .dropdown-menu{
    display: block;
}
#client-value .cus_input{
    width: 100%;
    height: 25px;
}

/*--Sixth Page--*/
#client-testimonials{
    /* display: none; */
    position: relative;
}
#client-testimonials .dropdown-menu{
    display: block;
}
#client-testimonials .cus_input{
    width: 100%;
    height: 25px;
}

/*--Seventh Page--*/
#leverage-architecture{
    /* display: none; */
    position: relative;
}
#leverage-architecture .dropdown-menu{
    display: block;
}
#leverage-architecture .cus_input{
    width: 100%;
    height: 25px;
}

/*--Eight Page--*/
#contribution-architecture{
    /* display: none; */
    position: relative;
}
#contribution-architecture .dropdown-menu{
    display: block;
}
#contribution-architecture .cus_input{
    width: 100%;
    height: 25px;
}



/* ------table-detail ------*/

#table-detail{
    /* display: none; */
}


#table-detail .table th{
    background: lightgrey;
    border: 1px solid #dee2e6;
    width: 25%;
}

#table-detail .table td{
    border: 1px solid #677380;
}
#table-detail .invoice-detail .col-sm-3{
    color: #138813;
    font-weight: bold;
    display: inline-block;
}

#table-detail .user_info{
    padding: 20px 20px;
}


/*------Thank you-------*/

*{
    box-sizing:border-box;
    /* outline:1px solid ;*/
}


.wrapper-1{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
}
.wrapper-2{
    padding :30px;
    text-align:center;
}
#thank-you h1{
    font-size:3em;
    letter-spacing:3px;
    color: #262c56 ;
    margin:0;
    margin-bottom:20px;
}
#thank-you h3{
    letter-spacing:3px;
    color: #757E8D ;
    margin:0;
    margin-bottom:20px;
    font-size: 1.5em;
}
.wrapper-2 p{
    margin:0;
    font-size:1.3em;
    color:#aaa;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing:1px;
}
.go-home{
    color:#fff;
    background:#5892FF;
    border:none;
    padding:10px 50px;
    margin:30px 0;
    border-radius:30px;
    text-transform:capitalize;
    box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
}
.footer-like{
    margin-top: auto;
    background:#D7E6FE;
    padding:6px;
    text-align:center;
}
.footer-like p{
    margin:0;
    padding:4px;
    color:#5892FF;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing:1px;
}
.footer-like p a{
    text-decoration:none;
    color:#5892FF;
    font-weight:600;
}

@media (min-width:360px){
    h1{
        font-size:3.5em;
    }
    .go-home{
        margin-bottom:20px;
    }
}

@media (min-width:600px){
    .content{
        max-width:1000px;
        margin:0 auto;
    }
    .wrapper-1{
        height: initial;
        max-width:620px;
        margin:0 auto;
        margin-top:50px;
        box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
    }

}

.survey-box{

    height: 116px;
    border: 1px solid;
    margin-bottom: 20px;

}

.srv-in-box{
    height: 59px !important;
    background: lightgrey;
    width: 61px !important;
    margin-top: 17px;
    margin-left: 8px !important;
    margin-right: 24px;
}
.s-box-pad{
    padding-top: 25px;
}
.box-bold{
    font-weight: bold;
}
.search-survey{
    margin-bottom: 20px;
}

.upcoming-survey .box-survey{
	border: 1px solid;
	height:300px;
	margin: 5px;
}

.item{
    background: white;
    text-align: center;
    height: 300px !important;
}

.carousel{
    margin-top: 20px;
}

.bs-example{
    margin: 20px;
}

.carousel.carousel-fade .item {
    opacity:0;
    filter: alpha(opacity=0); /* ie fix */
}

.carousel.carousel-fade .active.item {
    opacity:1;
    filter: alpha(opacity=100); /* ie fix */
}
.carousel-list{
    width:100%;
    height: 250px;
    background:white
}
.carousel-container{
    max-width: 100% !important;
    padding: 20px 50px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
    width: 40px !important;
    height: 40px !important;
    font-size: 33px !important;
    border-radius: 20px;
    background-color: rgb(0 128 0);
}
.carousel-control {
    width: 5% !important;
    background-image: none !important;
}
.innovation-about-image{
    width: 50%;
}
.container.about-section{
    margin-top: 50px;
    max-width: inherit !important;
    background: rgb(244 244 244);
}
.innovation-about-description h2{
    margin-top: 20px;
    color: #b000ff;
    text-align: center;
    padding: 20px;
    font-size: 3rem;
}
.innovation-about-description{
    width: 45%;
}
.innovation-about-description p{
    font-size: 1.5rem;
}

.homePage #myCarousel .item{
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
}
#dashboard .survey-box .row{
    justify-content: left;
    font-size: 14px;
}


.homePage #myCarousel .carousel-control .glyphicon-chevron-right{
    left: auto !important;
}
.homePage #myCarousel .carousel-caption{
    left: 5%;
    right: unset;
    width: 20%;
    top: 50px;
}
#dashboard .survey-box .row .star-icons{
    color: rgb(255 69 0)
}
#dashboard .survey-box .row .is-submitted{
    color: green;
}
#dashboard .survey-box .row .is-in-progress{
    color: #ff4500;
}
#dashboard .survey-box .row .is-pending{
    color: red;
}
#dashboard .assessment-btn, .page-fragment .next-btn,.page-fragment .btn-primary {
   font-size: 14px;
    padding: 0 20px;
    height: 40px;
}
.page-fragment,#loginPage,.welcomeText{
    font-size: 14px;
}
.homePage.page-fragment{
    margin-top: -40px;
    padding: 10px 0 80px 0;
}
#loginPage #remember .textClass{
    color: rgb(112 128 144);
}
.homePage.page-fragment .container.carousel-container{
    padding-top: 15px;
}



#sidebar{
    height: 100%;
    position: fixed;
    z-index: 1;
}
.page-fragment{
    margin-top: 100px !important;
}
nav.navbar{
    margin-left: 0;
    position: fixed;
    width: 100%;
    top: 0;
}
.homePage.page-fragment{
    margin-top: 60px !important;
}
#loginPage{
    margin-top: 100px
}
.page-fragment#thank-you{
    margin-left: auto;
    margin-top: 150px !important;
}
.marb20{
    margin-bottom: 20px;
}
#table-detail table tr:first-child th{
    color: rgb(255 255 255);
    background-color: #301865;
}

#table-detail .invoice-detail{
    font-size: 16px;
    margin-top: 20px;
}
#thank-you .go-to-dashboard,#thank-you a{
    margin: auto;
}
nav.navbar .left-section div ,nav.navbar .right-section div, .primary-nav li{
    display: inline-block;
}
nav.navbar h2{
    font-size: 18px;
    /* padding: 15px 0; */
}
.primary-nav{
    display: inline-block;
    margin-bottom: 0;
}
.primary-nav li {
    padding: 15px;
    font-size: 14px;
    border-radius:10px;
}
.primary-nav li a{
    color: black;
}
.primary-nav li:hover .navbar-btn{
    color: #8e42ca;
}
.primary-nav li.active .navbar-btn{
    color: #7515c0;
    font-weight: bold;
}

.primary-nav li button.is-dropdown:after{
    content: '\f107';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin:0px 0px 0px 5px;
    text-decoration:none;
}
.primary-nav li.active button.is-dropdown:after{
    content: '\f106';

}

.primary-nav .dropdown-content {
    display: none !important;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.primary-nav .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.primary-nav .dropdown-content a:hover {
    background-color: #ddd;
}

.primary-nav .dropdown.active .dropdown-content {
    display: block !important;
}

#carousel-slide-1{
    background-image: url('./image/innovation-slider-image1.png');
}

#carousel-slide-2{
    background-image: url('./image/innovation-slider-image2.jpg');
}

#carousel-slide-3{
    background-image: url('./image/innovation-slider-image3.jpg');
}

.dashboard-assesment-btn{
    display: none;
}

.finish-btn{
    width: 100px;
}

#thank-you .wrapper-2 .container{
    width: inherit;
}

.carousel-inner h2{
    font-size: 18px;
}

.carousel-inner h3{
    font-size: 16px;
}

.dropdown-content button{
    width: 100%;
    background-color: inherit;
}
.left-dashboard-heading{
    margin-right: 10px;
}
.result-page .table{
    margin-bottom: 0;
}

.form-group .errorBox{
    display: none;
    color: #b94a48;
    opacity: 0.8;
    font-size: 12px;
}
.form-group.has-error .errorBox{
    display: block;
}
#thank-you  .fa-check-circle{
    color: #87d184;
    font-size: 18em;
}
.marR45{
    margin-right: 45px;
}
.dropdown-multiline.isopen .option-list{
    display: block;
    
}
.dropdown-multiline .option-list{
    display: none;
}
.dropdown-multiline.isopen .option-list{
    padding: 5px 0 5px 0;
    margin: 0;
    background: #f5f3f3;
    width: 100%;
    position: relative;
    left: 1%;
    cursor: pointer;
    border: 1px solid #ecdddd;
    border-radius: 8px;
    z-index: 999;
    box-shadow: 2px 2px #d4d4d4;
}
.dropdown-multiline.isopen .options{
    padding: 10px;
    border-bottom: 1px solid #ecdddd;
}
.dropdown-multiline.isopen .options:last-child{
    border-bottom: none;
}
.dropdown-multiline.isopen .options:hover, .dropdown-multiline.isopen .options.is-active{
    background-color: #428bca;
    color: white;
}

.dropdown-multiline .default-text::after{
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #222;
    display: inline-block;
    position: absolute;
    right: 25px;
    margin-top: 10px;
    border-radius: 2px;
}

.dropdown-multiline.isopen .default-text::after{
    border-bottom-color: #222;
    border-top-color: transparent;
    margin-top: 0px;
    transition: all 0.1s;
}
.dropdown-multiline .default-text{
    display: inline-block;
    width: calc(100% - 30px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.radio-buttonn-form{
    padding: 10px;
    box-shadow:none;
}
.radio-buttonn-checkbox{
    border: 1px solid rgb(236 221 221);
    padding: 10px;
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
    background-color: #faf8f8;
    border-radius: 20px;
}
.radio-buttonn-checkbox label{
    padding-left: 15px;
    font-weight: normal;
}
.radio-buttonn-checkbox.is-active{
    background-color: #438bca;
    color: #ffffff;
}
.radio-buttonn-checkbox label,input{
    cursor: pointer;
}
.radio-buttonn-checkbox input{
    opacity: 0;
}
.circle{
    content: "";
    left: 0;
    height: 20px;
    width: 20px;
    display: block;
    background-color: rgb(255 255 255);
    border-radius: 50%;
    border: 3px solid #467175;
    padding:5px;
    cursor: pointer;
    margin: auto 0;
}
.radio-buttonn-checkbox.is-active .circle::before{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 7px;
    width: 7px;
    content: "";
    background: #467175;
    border-radius: 50%;
}